.tab-btn {
    position: relative;
    height: 48px;
    padding-inline: 20px;
    font-size: var(--label-1);
    margin-block-end: 4px;
    border-radius: var(--radius-8);
    opacity: 0.8;
    flex: 1 0 25%;
    transition: var(--transition-short);
}

.tab-btn:where(:hover, :focus-visible):not(:active) {
    background-color: var(--alpha-5);
    opacity: 1;
}

.tab-btn[aria-selected="true"] {
    font-weight: var(--weight-medium);
    opacity: 1;
}

.tab-btn[aria-selected="true"]::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--primary);
    border-radius: var(--radius-pill);
}

.card {
    --spacing: 16px;

    background-color: var(--surface);
    border-radius: var(--radius-12);
    overflow: hidden;
}

.card :where(.card-body, .card-footer) {
    padding: var(--spacing);
}

.repo-card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.repo-card .card-body {
    flex-grow: 1;
}

.repo-card .card-title {
    max-width: max-content;
    padding-inline-end: 76px;
    transition: var(--transition-short);
}

.repo-card .card-title:where(:hover, :focus-visible) {
    color: var(--primary);
}

.repo-card .card-text {
    color: var(--on-surface-variant);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    -webkit-line-clamp: 2;
    margin-block-start: 8px;
}

.badge,
.badge-clone {
    background: var(--surface-variant);
    columns: var(--alpha-60);
    max-width: max-content;
    font-size: var(--label-2);
    font-weight: var(--weight-semibold);
    text-transform: uppercase;
    height: 24px;
    line-height: 24px;
    padding-inline: 12px;
    border-radius: var(--radius-pill);
    border: 1px solid var(--surface-variant-outline);
}

.repo-card .badge {
    position: absolute;
    top: var(--spacing);
    right: var(--spacing);
}

.repo-card .badge-clone {
    position: absolute;
    top: var(--spacing);
    right: 90px;
    cursor: pointer;
    transition: var(--transition-medium);
}

.repo-card .badge-clone:where(:hover, :focus-visible) {
    background-color: var(--surface-variant-hover);
}

.repo-card .card-footer {
    background: var(--surface-variant);
    display: flex;
    align-items: center;
    gap: var(--spacing);
}

.repo-card .meta-item {
    color: var(--on-surface);
    display: flex;
    align-items: center;
    gap: 4px;
}

/* TAB */

.tab-container .tab-list {
    margin-inline: -16px;
    padding-inline: 16px;
}

.tab-panel {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    padding-block-start: 16px;
}

.tab-panel[hidden] {
    display: none;
}

.tab-panel .card {
    flex-grow: 1;
    width: 100%;
}

.tab-panel .error-content {
    width: 100%;
    padding-block: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-panel .error-content .title-1 {
    color: var(--alpha-50);
}

.tab-panel .error-content .text {
    color: var(--alpha-80);
}


/* followers card */

.follower-card {
    display: flex;
    align-items: center;
    gap: var(--spacing);
    padding: var(--spacing);
}

.follower-card .avatar-circle {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
}

.follower-card .icon-btn {
    margin-inline-start: auto;
}

.follower-card .card-title {
    font-size: var(--body);
    font-weight: var(--weight-regular);
}